@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --green: #96e6a1;
  --black: #1b1b1b;
  --light-green: #d4fc79;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", san-serif;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  margin: 0 4rem;
}

/* navbar start */

nav {
  /* border: 0.2rem solid var(--black); */
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 2rem; */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav h3 {
  color: var(--black);
  margin-left: 2rem;
  white-space: nowrap;
  font-size: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 2rem;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--black);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;
  transition: all 0.3s ease;
  border-radius: 0.3rem;
}

nav ul li a:hover {
  color: var(--light-green);
  background-color: var(--black);
}

nav label .menu-btn {
  display: none;
  width: 1.3rem;
  height: 1.3rem;
}

nav label .cancel-btn {
  display: none;
  width: 1.3rem;
  height: 1.3rem;
}

nav input#click {
  display: none;
}

/* for mobile screens */

@media screen and (max-width: 600px) {
  nav {
    position: sticky;
    top: 0;
    z-index: 100;
    height: auto;
    padding: 1rem 1.5rem;
  }

  nav label .menu-btn {
    display: block;
  }

  nav h3 {
    margin-left: 0;
  }

  nav label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
  }

  nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    margin: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 10;
  }

  nav ul li {
    margin: 1rem 0;
  }

  #click:checked ~ ul {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
  }

  #click:checked ~ label .menu-btn {
    display: none;
  }

  #click:checked ~ label .cancel-btn {
    display: block;
  }
}

/* for tablet screens */
@media screen and (min-width: 768px) and (max-width: 992px) {
  nav {
    position: relative;
    height: auto;
    padding: 1rem 1.5rem;
  }

  nav label .menu-btn {
    display: block;
  }

  nav h3 {
    margin-left: 0;
  }

  nav label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
  }

  nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    margin: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 10;
  }

  nav ul li {
    margin: 1rem 0;
  }

  #click:checked ~ ul {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
  }

  #click:checked ~ label .menu-btn {
    display: none;
  }

  #click:checked ~ label .cancel-btn {
    display: block;
  }
}
/* navbar end */

/* hero start */

#hero {
  width: 100%;
  min-height: 26rem;
  margin-top: 1rem;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#hero .left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#hero .left h1 {
  font-size: 2rem;
  color: var(--black);
}

#hero .left h1 span {
  color: var(--light-green);
  text-shadow:
    -1px -1px 0 var(--black),
    1px -1px 0 var(--black),
    -1px 1px 0 var(--black),
    1px 1px 0 var(--black);
}

#hero .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .right img {
  width: 20rem;
  height: 20rem;
}

@media screen and (max-width: 600px) {
  #hero {
    flex-direction: column;
  }

  #hero .left {
    width: 100%;
  }

  #hero .left h1 {
    font-size: 1.5rem;
    padding: 1rem;
  }

  #hero .right {
    width: 100%;
  }

  #hero .right img {
    width: 12rem;
    height: 12rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #hero .right img {
    width: 15rem;
    height: 15rem;
  }

  #hero .left h1 {
    font-size: 1.8rem;
    padding: 1rem;
  }
}

/* hero end */

/* .box {
 
  width: 25rem;
  height: 15rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.box .innerbox {
  width: 10rem;
  height: 5rem;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
} */
